* {
    margin: 0px 0px 0px 0px;
    padding: 0;
}
html {
    font-size: 15px;
}

h1 {
    font-size: 1.5rem;
    margin: 5px 0px 5px 0px;
}

h3 {
    font-size: 2.2rem;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.img{
    width:100%;
    height: 150px;
    background-image:linear-gradient(0,#fff,#c3bebe);
}
.img_resize {
    display: flex;
    margin: 0px 200px auto;
}
#App_SideWrap {
    font-family: sans-serif;
    color: #333;
}

#App_SideWrap ul {
    list-style-type: none;
    background: #1f568b;
    text-align: center;
}

#App_SideWrap ul li {
    color: #fff;
    display: inline-table;
    width: 200px;
    height: 50px;
    line-height: 50px;
    position: relative;
}

#App_SideWrap ul li a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: block;
}

#App_SideWrap ul li a:hover {
    background: #fff;
    color: #333;
}

#App_SideWrap ul li > .sub-menu {
    display: none;
    position: absolute; 
}

#App_SideWrap ul li:hover .sub-menu {
    display: block;
}

.wraper {
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.Login {
    margin: 50px 100px 0px 100px;
    max-width: 400px;
    max-height: 200px;
    flex-grow: 1;
    padding: 30px 40px 30px;
    box-shadow: 0px 0px 17px 2px #fff;
    background-color: rgba(233, 99, 11, 0.86);
}

.Login__header {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.Login_header {
    margin: 0px 0px 0px 0px;
    color: #06156f;
}

.Login-form {
    max-width: 400px;
    display: inline-flex;
    height: 40px;
    background-color: transparent;
    border-bottom: solid 1px #ffffff
}

.Login-form i {
    margin-top: 10px;
    margin-right: 8px;
    height: 14px;
    min-width: 14px;
}

#txt_TK {
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
    background-color: transparent;
    width: 400px;
    height: 30px;
    border: 0px;
    outline: 0px;
}

#txt_MK {
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
    background-color: transparent;
    width: 400px;
    height: 30px;
    border: 0px;
    outline: 0px;
}

.Login__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Btn_dangnhap {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    min-height: 30px;
    background-color: #030842;
}

.table_data {
    display: flex;
    align-items: center;
    justify-content: center;
}

#table_data_block {
    width: 450px;
    margin-top: 20px;
}

#table_data_block tr {
    width: 450px;
}

#table_data_block tr th {
    background-color: #A9A9A9;
    width: 150px;
    height: 25px;
    font-size: 1.5rem;
}

#table_data_block tr td {
    width: 150px;
    height: 20px;
    text-align: center;
}

#pannel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title_UpdatePanel1 {
    font-size: 1.5rem;
}

#tbxName {
    font-size: 1rem;
    width: 190px;
    height: 30px;
}

#tbxStartValue {
    font-size: 1rem;
    width: 190px;
    height: 30px;
}

#tbxEndValue {
    font-size: 1rem;
    width: 190px;
    height: 30px;
    font-size: 1rem;
}

#tbxStartTime {
    font-size: 1rem;
    width: 190px;
    height: 30px;
}

#tbxEndTime {
    font-size: 1rem;
    width: 190px;
    height: 30px;
}

#btnXem {
    color: white;
    width: 200px;
    height: 35px;
    font-size: 1.5rem;
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    background: rgb(6,14,131);
}

#btnXem:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

#footer {
    margin: 40px 0;
    background-image: linear-gradient(0,rgba(235, 247, 242,0.8),#c6bfbf);
    color: #000000;
}
#footer h2{
    text-align: center;
}
#footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}
#footer li {
    padding: 0 10px;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

    .dk-footer-box-info .footer-social-link a i.fa-facebook {
        background-color: #3B5998;
    }

    .dk-footer-box-info .footer-social-link a i.fa-twitter {
        background-color: #55ACEE;
    }

    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
        background-color: #DD4B39;
    }

    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
        background-color: #0976B4;
    }

    .dk-footer-box-info .footer-social-link a i.fa-instagram {
        background-color: #B7242A;
        margin-bottom: 10px;
    }
